aiofiles==0.5.0
beautifulsoup4==4.9.0
certifi==2020.4.5.1
click==7.1.1
coolname==1.1.0
fastapi==0.54.1
google==2.0.2
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.3.0
h11==0.9.0
httptools==0.1.1
Jinja2==2.11.3
MarkupSafe==1.1.1
oauth2client==4.1.3
passlib
pydantic==1.5.1
python-slugify==4.0.0
python-multipart
python-jose==3.2.0
PyYAML==5.3.1
soupsieve==2.0
starlette==0.13.2
text-unidecode==1.3
Unidecode==1.1.1
uvicorn==0.11.3
uvloop==0.14.0
websockets==8.1
httplib2
