<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/ckeditor.css"> <!-- Remove this?  https://ckeditor.com/docs/ckeditor5/latest/builds/guides/integration/content-styles.html -->

    {% block head %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="/">{{ meta.course_name }}</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/about">{{ meta.course_id }}</a></li>
                    {% if meta.dev %}
                    {% block nav %} {% endblock %}
                    {% endif %}

                    {% if not meta.dev %}
                    {% if meta.essays %}<li class="nav-item" role="presentation"><a class="nav-link" href="/essays">Essays</a></li>{% endif %}
                    {% if meta.exhibits %}<li class="nav-item" role="presentation"><a class="nav-link" href="/exhibits">Exhibits</a></li>{% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <main class="page landing-page">
        {% if meta.message%}
        <div class="container">
            <p style="color:green;">{{ meta.message}}</p>
          </div>       
          {% endif %}

{% block content %}{% endblock %}
</main>
    
    <footer class="page-footer gradient">
        <div class="container">
            <div class="links"><a href="https://github.com/apjanco/blini">🧿 blini</a></div>

        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script async charset="utf-8" src="https://cdn.embedly.com/widgets/platform.js"></script>
    <script src="assets/js/shuffle.min.js"></script>
    <script src="assets/js/popper.min.js"></script>

    <script>
        $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    {% block js %}{% endblock %}
</body>

</html>
