{% extends 'base.html' %}
{% block head %}
<title>Essay</title>
<meta name="title" content="The End of Time">
<meta name="slug" content="the-end-of-time">
<meta name="author" content="John Doe">
<meta name="description" content="Free Web tutorials">
{% endblock %}

{% block content %}
<div class="container"> 
    <div class="row">
        <div class="col">
            <button class="btn btn-light" type="button" onclick="window.location.href='/'">
                <svg class="bi bi-arrow-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M5.854 4.646a.5.5 0 010 .708L3.207 8l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M2.5 8a.5.5 0 01.5-.5h10.5a.5.5 0 010 1H3a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
                  </svg>
            </button>
            <button class="btn btn-light" type="button" onclick="window.location.href='/essay_html/{{ the.slug }}'">
            <svg class="bi bi-file-code" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
                <path fill-rule="evenodd" d="M8.646 5.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 8 8.646 6.354a.5.5 0 0 1 0-.708zm-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 8l1.647-1.646a.5.5 0 0 0 0-.708z"/>
              </svg>
            </button>
        </div>
        <div class="col">
            <button class="btn btn-light float-right"" type="button" onclick="window.location.href='/delete_essay/{{ the.slug }}'">
                <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                  </svg>
            </button>
        </div>
      </div> 
    
    
    </div>
<section class="portfolio-block hire-me">
    <div class="container">   
        <div id="title" style="padding-left: 10px;" contenteditable="true"><h4>{{ the.title }}</h4></div>
        <div id="author" style="padding-left: 10px;" contenteditable="true">{{ the.author }}</div>
        <div name="text" id="text" contenteditable="true">{{ the.text|safe }}</div>

    </div>
    
</section>
{% endblock %}

{% block js %}
<script src="assets/ckeditor5/build/ckeditor.js"></script>
<script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>

<script>
    let ws = new WebSocket("wss://{{ meta.url }}/ws");
    let editor;


    InlineEditor
    .create( document.querySelector( '#text' ), {
                
				toolbar: {
					items: [
						'undo',
						'redo',
						'heading',
						'|',
						'fontFamily',
						'fontSize',
						'bold',
						'italic',
						'link',
						'bulletedList',
						'numberedList',
						'blockQuote',
						'|',
						'horizontalLine',
						'indent',
						'outdent',
                        '|',
                        //'ckfinder',
						'imageUpload',
                        'insertTable',
                        'mediaEmbed'
					]
				},
				language: 'en',
				image: {
					toolbar: [
                        'imageTextAlternative', 
                        '|', 
                        'imageStyle:alignLeft', 
                        'imageStyle:full', 
                        'imageStyle:alignRight'
                    ],
                    styles: [
                        'full',
                        'alignLeft',
                        'alignRight'
                    ],
				},
				table: {
					contentToolbar: [
						'tableColumn',
						'tableRow',
						'mergeTableCells'
					]
				},
                licenseKey: '',
                simpleUpload: {
                   // The URL the images are uploaded to.
                    uploadUrl: 'http://{{ meta.url }}/images',

                    // Headers sent along with the XMLHttpRequest to the upload server.
                },
                // ckfinder: {
                //     uploadUrl: 'http://localhost:8000/images',
                // },
				
			} )
        //.create( document.querySelector( '#text' ) )
        .then( newEditor => {
        editor = newEditor;
        editor.model.document.on('change:data', (evt, data) => {
            send_socket();
    });
        } )
        .catch( error => {
            console.error( error );
        } );
        

// TODO add events to capture mouse highlight for bold, italic and so on in ckeditor
document.querySelector( '#title' ).addEventListener( 'keyup', () => {
    send_socket()
} );
document.querySelector( '#author' ).addEventListener( 'keyup', () => {
    send_socket();
} );


</script>

<script>
    function send_socket(){
        const text = editor.getData();
        const title = $("#title").text()
        const author = $("#author").text()
        const grid = 'none';
        data = '💾🥞' + 'essay' + '💾🥞' + '{{ the.slug }}' + '💾🥞' + title + '💾🥞' + author + '💾🥞' +text + '💾🥞' + grid
        ws.send(data)
    };
  
  </script>
{% endblock%}
